NombrePremierWS_client/xml-resources/web-service-references/decomposer_en_facteurs_premiers/wsdl/localhost_8080/WebApplication_calcul/decomposer_en_facteurs_premiers.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://com.decomposition/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.decomposition/">

<xs:element name="decomposer_en_facteurs_premiers" type="tns:decomposer_en_facteurs_premiers"/>

<xs:element name="decomposer_en_facteurs_premiersResponse" type="tns:decomposer_en_facteurs_premiersResponse"/>

<xs:complexType name="decomposer_en_facteurs_premiers">
<xs:sequence>
<xs:element name="number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decomposer_en_facteurs_premiersResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>